<template>
    <div class="clearfix">
        <p class="info-note">Sections are main building blocks of this plugin and they are made out of your assets. Use sections to divide content in any way you want.</p>
    </div>

    <div class="actions margin-bottom-twenty">
        <p></p>
        <div class="actions">
            <button class="btn btn-success btn-add" type="button" id="add-section-btn">Add Section</button>
        </div></div>


        <div id="sections-list">

        </div>
        <div class="empty-state" id="emptyStateSections"><h4>You haven't added anything yet</h4></div>




    <template id="addEditTemplate-section">
        <div class="slide-in padding-bottom-thirty sub-page-body">
         
          <h1>Section Details</h1>

          <div class="row margin-bottom-fifteen">
            <div class="col-md-3">
              <label for="assetTitle">Section Name <span class="text-danger">*</span>
              </label>
            </div>
            <div class="col-md-9">
              <input id="section-title" type="text" class="form-control" maxlength="100" placeholder="Enter Name"/>
            </div>
          </div>

          <h1>Section Layout</h1>

          <div class="screens clearfix">
            <div id="section-selected-layout" class="screen layouticon pull-left padding-right-ten">
              <a class="border-radius-three default-background-hover text-center">
                <img id="selected-layout-preview" src="../assets/images/section-layout-horizontal.png">
              </a>
            </div>
            <div id="section-layouts" class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
              <a data-layout="horizontal" class="layouticon border-radius-three default-background-hover text-center selected">
                <img src="../assets/images/section-layout-horizontal.png">
              </a>
              <a data-layout="horizontal-1" class="layouticon border-radius-three default-background-hover text-center">
                <img  src="../assets/images/section-layout-horizontal-1.png">
              </a>
              <a data-layout="vertical" class="layouticon border-radius-three default-background-hover text-center active">
                <img src="../assets/images/section-layout-vertical.png">
              </a>
            </div>
          </div>
          
          <h1>Assets</h1>

          <div class="clearfix">
            <p class="info-note">
              Add all the assets you want to be in this section. You can create new assets or add existing. Every single asset you have previously created can be connected as existing asset to this list.
            </p>
          </div>

          <div class="actions margin-bottom-twenty">
            <div class="search-bar flex-fill">
                <input type="text" placeholder="Search" id="section-assets-search-input">
                <button class="btn btn-info" type="button" id="section-assets-search-btn" onclick="">
                  <div class="search-icon"></div>
                </button>
            </div>
            <button class="btn btn-success btn-add pull-right margin-left-five" type="button" id="addBtnAssetsModal" onclick="">Add Existing Asset</button>
            
            <div class="btn-group pull-right" id="add-assets-dropdown">
              <button class="btn btn-success btn-add margin-left-five" type="button" id="addBtnAssets">Add New Asset
                <span class="caret whiteTheme"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li data-type="course"><a>Course</a></li>
                <li data-type="video"><a>Video</a></li>
                <li data-type="audio"><a>Audio</a></li>
                <li data-type="article"><a>Article</a></li>
                <li data-type="book"><a>PDF</a></li>
                <li data-type="summary"><a>Book Summary</a></li>
                <li data-type="action-item"><a>Action Item</a></li>
              </ul>
            </div>
          </div>

          <table id="tableSectionAssetsList" class="table margin-bottom-zero"></table>
          <div class="empty-state" id="emptyStateSectionAssets">
            <h4>You haven't added anything yet</h4>
          </div>
          
        </div>

        <!-- Bottom actions require adding the .sub-page class on the <body> tag for correct scrolling  -->
        <div class="bottom-actions">
            <button class="btn btn-default" onclick="SectionsDetails.cancel();">Cancel</button>
            <button class="btn btn-success" id="save-section" onclick="SectionsDetails.save();" disabled="disabled">Save</button>
        </div>   
    
      </template>


<template id="addEditTemplate-media">
        <div class="slide-in sub-page-body padding-bottom-sixty media-container">
          <h1>Media Info</h1>
    
          <div class="clearfix">
            <p class="info-note">
              Here’s where you add media details like image, title, short description and more.
            </p>
          </div>
    
          <div
            class="margin-bottom-twenty image-picker aspect-1-1 thumbnail-picker thumbnail-picker-assets"
          ></div>
    
          <div class="row margin-bottom-fifteen">
            <div class="col-md-3">
              <label for="mediaTitle-media"
                >Title <span class="text-danger mediaTitle">*</span>
              </label>
            </div>
            <div class="col-md-9">
              <input
                id="mediaTitle-media"
                type="text"
                class="form-control"
                maxlength="100"
                placeholder="Enter Title"
              />
            </div>
          </div>
          <div class="row margin-bottom-fifteen">
            <div class="col-md-3">
              <label for="mediaDesc-media">Short Description</label>
            </div>
            <div class="col-md-9">
              <input
                id="mediaDesc-media"
                type="text"
                class="form-control"
                maxlength="150"
                placeholder="Enter Short Description"
              />
            </div>
          </div>
          <div class="row margin-bottom-fifteen">
            <div class="col-md-3">
              <label for="mediaDur-media">Duration  <span class="text-danger">*</span></label>
            </div>
            <div class="col-md-9">
              <input
                id="mediaDur-media"
                type="text"
                class="form-control html-duration-picker"
                placeholder=""
              />
            </div>
          </div>
          <div class="row margin-bottom-fifteen">
            <div class="col-md-3">
              <label for="mediaURL-media">URL</label>
            </div>
            <div class="col-md-9">
              <input
                id="mediaURL-media"
                type="text"
                class="form-control"
                placeholder="https://"
              />
            </div>
          </div>
    
          <!-- List of Topics-->
          <div class="row margin-bottom-fifteen">
            <div class="col-md-3">
              <label>Topic</label>
            </div>
            <div class="col-md-9">
              <div class="margin-bottom-fifteen hidden" id="assetTopicsEmptyState-media">
                <p class="info-note">
                  You haven't defined any topics yet. Go to
                  <a
                    class="link"
                    id="assetTopicsEmptyStateLink-media"
                    onclick="TopicsDetails.openAddTopicScreen()"
                    >Topics</a
                  >
                  to create some.
                </p>
              </div>
              <div class="row margin-bottom-fifteen" id="assetTopicsContainer-media">
                <!-- checkboxes for topics-->
              </div>
            </div>
          </div>
    
          <!-- Details WYSIWYG-->
          <div class="flex-row space-between margin-top-thirty">
            <div class="section-title padding-top-zero">Details</div>
            <div class="form-group margin-top-ten">
              <div class="button-switch">
                <input id="toggleDetails-media" type="checkbox" />
                <label for="toggleDetails-media" class="label-success"></label>
              </div>
            </div>
          </div>
    
          <div class="clearfix">
            <p class="info-note">Add details for you video</p>
          </div>
    
          <label for="wysiwygMediaDetails">Details </label>
          <textarea id="wysiwygMediaDetails" name="wysiwygMediaDetails"></textarea>
    
          <!-- Transcript WYSIWYG-->
          <div class="flex-row space-between margin-top-thirty">
            <div class="section-title padding-top-zero">Transcript</div>
            <div class="form-group margin-top-ten">
              <div class="button-switch">
                <input id="toggleTranscript-media" type="checkbox"/>
                <label for="toggleTranscript-media" class="label-success"></label>
              </div>
            </div>
          </div>
    
          <div class="clearfix">
            <p class="info-note">Add text transcript for the video</p>
          </div>
    
          <label for="wysiwygTranscript">Transcript </label>
          <textarea id="wysiwygTranscript" name="wysiwygTranscript"></textarea>
        
    
          <!-- CheckList -->   
          <div class="flex-row space-between margin-top-thirty">
            <div class="section-title padding-top-zero">CheckList</div>
            <div class="form-group margin-top-ten">
              <div class="button-switch">
                <input id="toggleCheckList-media" type="checkbox">
                <label for="toggleCheckList-media" class="label-success"></label>
              </div>
            </div>
          </div>
    
    
          <div class="clearfix">
            <p class="info-note">
              You can use checklist to highlight main points in this material, or as a tool to stay focused.        </p>
          </div>
    
          <div class="actions margin-bottom-twenty">
            
            <div class="btn-group open list-sort-dropdown">
              <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="">
                <span class="margin-right-ten text-light-grey">Sort:</span> 
                <span class="list-sort-txt">Manually</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li data-sort="newest"><a>Newest First</a></li>
                <li data-sort="oldest"><a>Oldest First</a></li>
              </ul>
            </div>
    
            <button class="btn btn-success btn-add pull-right margin-left-five btn-large add-List-item-btn" type="button">Add Task</button>
    
          </div>
    
          <div class="sortable-List-container">
    
          </div>
          <div class="empty-state emptyStateList">
            <h4>You haven't added anything yet</h4>
          </div>
              
    
    
          
        </div>
        <!-- Bottom actions require adding the .sub-page class on the <body> tag for correct scrolling  -->
        <div class="bottom-actions">
          <button class="btn btn-default" onclick="AssetsDetails.cancel();">
            Cancel
          </button>
          <button
            class="btn btn-success"
            id="saveAsset-media"
            onclick="AssetsDetails.save();"
            disabled="disabled"
          >
            Save
          </button>
        </div>
      </template>

<template id="addEditTemplate-article">
        <div class="slide-in sub-page-body padding-bottom-sixty article-container">
          <h1>Article Details</h1>
    
          <div class="clearfix">
            <p class="info-note">
              Here's where you add article details. Optionally, you can enter
              article URL if you want to connect an article from external webpage.
              This will open the article in companion browser.
            </p>
          </div>
    
          <div
            class="margin-bottom-twenty image-picker aspect-1-1 thumbnail-picker thumbnail-picker-assets"
          ></div>
    
          <div class="row margin-bottom-fifteen">
            <div class="col-md-3">
              <label for="mediaTitle-article"
                >Title <span class="text-danger">*</span>
              </label>
            </div>
            <div class="col-md-9">
              <input
                id="mediaTitle-article"
                type="text"
                class="form-control"
                maxlength="100"
                placeholder="Enter Title"
              />
            </div>
          </div>
          <div class="row margin-bottom-fifteen">
            <div class="col-md-3">
              <label for="mediaDesc-article">Short Description</label>
            </div>
            <div class="col-md-9">
              <input
                id="mediaDesc-article"
                type="text"
                class="form-control"
                maxlength="150"
                placeholder="Enter Short Description"
              />
            </div>
          </div>
          <div class="row margin-bottom-fifteen">
            <div class="col-md-3">
              <label for="mediaDur-article">Duration </label>
              <span class="customTooltipBox btn-primary">
                <span class="customTooltipText"
                  >Enter your estimate how long would it take the average person to
                  read this article</span
                >
              </span>
            </div>
            <div class="col-md-9">
              <input
                id="mediaDur-article"
                type="text"
                class="form-control html-duration-picker"
                placeholder=""
              />
            </div>
          </div>
          <div class="row margin-bottom-thirty">
            <div class="col-md-12">
              <label for="wysiwygArticle">Article </label>
              <textarea id="wysiwygArticle" name="wysiwygArticle"></textarea>
            </div>
          </div>
          <div class="row margin-bottom-fifteen">
            <div class="col-md-3">
              <label for="mediaURL-article">Article URL</label>
            </div>
            <div class="col-md-9">
              <input
                id="mediaURL-article"
                type="text"
                class="form-control"
                placeholder="https://"
              />
            </div>
          </div>
    
          <!-- List of Topics-->
          <div class="row margin-bottom-fifteen">
            <div class="col-md-3">
              <label>Topic</label>
            </div>
            <div class="col-md-9">
              <div class="margin-bottom-fifteen hidden" id="assetTopicsEmptyState-article">
                <p class="info-note">
                  You haven't defined any topics yet. Go to
                  <a
                    class="link"
                    id="assetTopicsEmptyStateLink-article"
                    onclick="TopicsDetails.openAddTopicScreen()"
                    >Topics</a
                  >
                  to create some.
                </p>
              </div>
              <div class="row margin-bottom-fifteen" id="assetTopicsContainer-article">
                <!-- checkboxes for topics-->
              </div>
            </div>
          </div>
    
          <div class="flex-row space-between">
            <div class="section-title padding-top-zero">Key Takeaways</div>
            <div class="form-group margin-top-ten">
              <div class="button-switch">
                <input id="toggleKeyTakeAways-article" type="checkbox" />
                <label for="toggleKeyTakeAways-article" class="label-success"></label>
              </div>
            </div>
          </div>
    
          <div class="clearfix">
            <p class="info-note">Article summary or key takeaways.</p>
          </div>
    
          <label for="wysiwygTakeAways">Details </label>
          <textarea id="wysiwygTakeAways" name="wysiwygTakeAways"></textarea>
        </div>
        <!-- Bottom actions require adding the .sub-page class on the <body> tag for correct scrolling  -->
        <div class="bottom-actions">
          <button class="btn btn-default" onclick="AssetsDetails.cancel();">
            Cancel
          </button>
          <button
            class="btn btn-success"
            id="saveAsset-article"
            onclick="AssetsDetails.save();"
            disabled="disabled"
          >
            Save
          </button>
        </div>
      </template>

<template id="addEditTemplate-book">
      <div class="slide-in sub-page-body padding-bottom-sixty book-container">
        <h1>PDF Details</h1>
    
        <div class="clearfix">
          <p class="info-note">
            Here’s where you add book, manual or any other PDF material details like image, title, book URL and more.
          </p>
        </div>
    
        <div
          class="margin-bottom-twenty image-picker aspect-1-1 thumbnail-picker  thumbnail-picker-assets"
        ></div>
    
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label for="mediaTitle-book">Title <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-md-9">
            <input id="mediaTitle-book" type="text" class="form-control" maxlength="100" placeholder="Enter Title" />
          </div>
        </div>
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label for="mediaDesc-book">Short Description</label>
          </div>
          <div class="col-md-9">
            <input
              id="mediaDesc-book"
              type="text"
              class="form-control"
              maxlength="150"
              placeholder="Enter Short Description"
            />
          </div>
        </div>
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label for="mediaDur-book">Duration </label>
            <span class="customTooltipBox btn-primary">
              <span class="customTooltipText"
                >Enter your estimate how long would it take the average person to
                read this article</span
              >
            </span>
          </div>
          <div class="col-md-9">
            <input
              id="mediaDur-book"
              type="text"
              class="form-control html-duration-picker"
              placeholder=""
            />
          </div>
        </div>
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label for="mediaURL-book">PDF URL <span class="text-danger">*</span></label>
          </div>
          <div class="col-md-9">
            <input
              id="mediaURL-book"
              type="text"
              class="form-control"
              placeholder="https://"
            />
          </div>
        </div>
    
        <!-- List of Topics-->
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label>Topic</label>
          </div>
          <div class="col-md-9">
            <div class="margin-bottom-fifteen hidden" id="assetTopicsEmptyState-book">
              <p class="info-note">
                You haven't defined any topics yet. Go to
                <a
                  class="link"
                  id="assetTopicsEmptyStateLink-book"
                  onclick="TopicsDetails.openAddTopicScreen()"
                  >Topics</a
                >
                to create some.
              </p>
            </div>
            <div class="row margin-bottom-fifteen" id="assetTopicsContainer-book">
              <!-- checkboxes for topics-->
            </div>
          </div>
        </div>
    
      </div>
      <!-- Bottom actions require adding the .sub-page class on the <body> tag for correct scrolling  -->
      <div class="bottom-actions">
        <button class="btn btn-default" onclick="AssetsDetails.cancel();">
          Cancel
        </button>
        <button
          class="btn btn-success"
          id="saveAsset-book"
          onclick="AssetsDetails.save();"
          disabled="disabled"
        >
          Save
        </button>
      </div>
    </template>

<template id="addEditTemplate-summary">
      <div class="slide-in sub-page-body padding-bottom-sixty summary-container">
        <h1>Book Summary Details</h1>
    
        <div class="clearfix">
          <p class="info-note">
            Here’s where you add book summary details like image, title, short description and more.
          </p>
        </div>
    
        <div
          class="margin-bottom-twenty image-picker aspect-1-1 thumbnail-picker thumbnail-picker-assets"
        ></div>
    
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label for="mediaTitle-summary"
              >Title <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-md-9">
            <input
              id="mediaTitle-summary"
              type="text"
              class="form-control"
              maxlength="100"
              placeholder="Enter Title"
            />
          </div>
        </div>
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label for="mediaDesc-summary">Short Description</label>
          </div>
          <div class="col-md-9">
            <input
              id="mediaDesc-summary"
              type="text"
              class="form-control"
              maxlength="150"
              placeholder="Enter Short Description"
            />
          </div>
        </div>
    
        <div class="row margin-bottom-thirty">
          <div class="col-md-12">
            <label for="wysiwygSummaryDescription">Full Description </label>
            <textarea id="wysiwygSummaryDescription" name="wysiwygSummaryDescription"></textarea>
          </div>
        </div>
    
        <!-- List of Topics-->
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label>Topic</label>
          </div>
          <div class="col-md-9">
            <div class="margin-bottom-fifteen hidden" id="assetTopicsEmptyState-summary">
              <p class="info-note">
                You haven't defined any topics yet. Go to
                <a
                  class="link"
                  id="assetTopicsEmptyStateLink-summary"
                  onclick="TopicsDetails.openAddTopicScreen()"
                  >Topics</a
                >
                to create some.
              </p>
            </div>
            <div class="row margin-bottom-fifteen" id="assetTopicsContainer-summary">
              <!-- checkboxes for topics-->
            </div>
          </div>
        </div>
    
        <!-- Chapters -->   
        <div class="flex-row space-between margin-top-thirty">
          <div class="section-title padding-top-zero">Chapters</div>
        </div>
    
    
        <div class="clearfix">
          <p class="info-note">
            Every Book Summary is divided into multiple chapters.
          </p>
        </div>
    
    
        <div class="actions margin-bottom-twenty">
          
          <div class="btn-group open list-sort-dropdown">
            <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="">
              <span class="margin-right-ten text-light-grey">Sort:</span> 
              <span class="list-sort-txt">Manually</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li data-sort="newest"><a>Newest First</a></li>
              <li data-sort="oldest"><a>Oldest First</a></li>
            </ul>
          </div>
    
          <button class="btn btn-success btn-add pull-right margin-left-five btn-large add-List-item-btn" type="button"onclick="">Add Chapter</button>
    
        </div>
    
        <div class="sortable-List-container">
    
        </div>
        <div class="empty-state emptyStateList">
          <h4>You haven't added anything yet</h4>
        </div>
            
    
    
        
      </div>
      <!-- Bottom actions require adding the .sub-page class on the <body> tag for correct scrolling  -->
      <div class="bottom-actions">
        <button class="btn btn-default" onclick="AssetsDetails.cancel();">
          Cancel
        </button>
        <button
          class="btn btn-success"
          id="saveAsset-summary"
          onclick="AssetsDetails.save();"
          disabled="disabled"
        >
          Save
        </button>
      </div>
    </template>

<template id="addEditTemplate-summary-chapter">
      <div class="slide-in sub-page-body padding-bottom-sixty chapter-container">
        <h1>Chapter Details</h1>
    
        <div class="clearfix">
          <p class="info-note">
            Here’s where you add image, title and subtitle for the chapter. Subtitle can be used as generic name for chapters like Chapter 1, Chapter 2...
          </p>
        </div>
    
        <div
          class="margin-bottom-twenty image-picker aspect-1-1 thumbnail-picker thumbnail-picker-chapters"
        ></div>
    
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label for="chapterTitle"
              >Title <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-md-9">
            <input
              id="chapterTitle"
              type="text"
              class="form-control"
              maxlength="100"
              placeholder="Enter Title"
            />
          </div>
        </div>
    
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label for="chapterSubTitle">Subtitle</label>
          </div>
          <div class="col-md-9">
            <input
              id="chapterSubTitle"
              type="text"
              class="form-control"
              maxlength="100"
              placeholder="Enter Title"
            />
          </div>
        </div>
    
        <!-- Pages -->   
        <div class="flex-row space-between margin-top-thirty">
          <div class="section-title padding-top-zero">Pages</div>
        </div>
    
    
        <div class="clearfix">
          <p class="info-note">
            Here’s where you add pages for this chapter.
          </p>
        </div>
    
        <div class="actions margin-bottom-twenty">
          
          <div class="btn-group open list-sort-dropdown">
            <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="">
              <span class="margin-right-ten text-light-grey">Sort:</span> 
              <span class="list-sort-txt">Manually</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li data-sort="newest"><a>Newest First</a></li>
              <li data-sort="oldest"><a>Oldest First</a></li>
            </ul>
          </div>
    
          <button class="btn btn-success btn-add pull-right margin-left-five btn-large add-List-item-btn" type="button">Add Page</button>
    
        </div>
    
        <div class="sortable-List-container">
    
        </div>
    
        <div class="empty-state emptyStateList">
          <h4>You haven't added anything yet</h4>
        </div>
       
      </div>
    
      <!-- Bottom actions require adding the .sub-page class on the <body> tag for correct scrolling  -->
      <div class="bottom-actions">
        <button class="btn btn-default" onclick="ChapterDetails.cancel();">
          Cancel
        </button>
        <button
          class="btn btn-success"
          id="saveChapter"
          onclick="ChapterDetails.save();"
          disabled="disabled"
        >
          Save
        </button>
      </div>
    </template>

<template id="addEditTemplate-summary-page">
      <div class="slide-in sub-page-body padding-bottom-sixty page-container">
    
    
        <div
          class="margin-bottom-twenty image-picker aspect-1-1 thumbnail-picker thumbnail-picker-summary-page"
        ></div>
    
    
        <div class="row margin-bottom-thirty">
          <div class="col-md-12">
            <label for="wysiwygSummaryPage">Page Content</label>
            <textarea id="wysiwygSummaryPage" name="wysiwygSummaryPage"></textarea>
          </div>
        </div>
    
       
      </div>
    
      <!-- Bottom actions require adding the .sub-page class on the <body> tag for correct scrolling  -->
      <div class="bottom-actions">
        <button class="btn btn-default" onclick="PageDetails.cancel();">
          Cancel
        </button>
        <button
          class="btn btn-success"
          id="savePage"
          onclick="PageDetails.save();"
          disabled="disabled"
        >
          Save
        </button>
      </div>
    </template>

<template id="addEditTemplate-course">
      <div class="slide-in sub-page-body padding-bottom-sixty course-container">
        <h1>Course Details</h1>
    
        <div class="clearfix">
          <p class="info-note">
            Here’s where you add course details like image, title, short description and full course overview.
          </p>
        </div>
    
        <div
          class="margin-bottom-twenty image-picker aspect-1-1 thumbnail-picker thumbnail-picker-assets"
        ></div>
    
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label for="mediaTitle-course"
              >Title <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-md-9">
            <input
              id="mediaTitle-course"
              type="text"
              class="form-control"
              maxlength="100"
              placeholder="Enter Title"
            />
          </div>
        </div>
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label for="mediaDesc-course">Short Description</label>
          </div>
          <div class="col-md-9">
            <input
              id="mediaDesc-course"
              type="text"
              class="form-control"
              maxlength="150"
              placeholder="Enter Short Description"
            />
          </div>
        </div>
    
        <div class="row margin-bottom-thirty">
          <div class="col-md-12">
            <label for="wysiwygCourseDescription">Course Overview</label>
            <textarea id="wysiwygCourseDescription" name="wysiwygCourseDescription"></textarea>
          </div>
        </div>
    
        <!-- List of Topics-->
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label>Topic</label>
          </div>
          <div class="col-md-9">
            <div class="margin-bottom-fifteen hidden" id="assetTopicsEmptyState-course">
              <p class="info-note">
                You haven't defined any topics yet. Go to
                <a
                  class="link"
                  id="assetTopicsEmptyStateLink-course"
                  onclick="TopicsDetails.openAddTopicScreen()"
                  >Topics</a
                >
                to create some.
              </p>
            </div>
            <div class="row margin-bottom-fifteen" id="assetTopicsContainer-course">
              <!-- checkboxes for topics-->
            </div>
          </div>
        </div>
    
        <!-- Lessons -->   
        <div class="flex-row space-between margin-top-thirty">
          <div class="section-title padding-top-zero">Lessons</div>
        </div>
    
    
        <div class="clearfix">
          <p class="info-note">
            A course is divided into lessons for better organization. Every lesson can consist of only one asset, or can be broken down into multiple assets.
          </p>
        </div>
    
    
        <div class="actions margin-bottom-twenty">
          
          <div class="btn-group open list-sort-dropdown">
            <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="">
              <span class="margin-right-ten text-light-grey">Sort:</span> 
              <span class="list-sort-txt">Manually</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li data-sort="newest"><a>Newest First</a></li>
              <li data-sort="oldest"><a>Oldest First</a></li>
            </ul>
          </div>
    
          <button class="btn btn-success btn-add pull-right margin-left-five btn-large add-List-item-btn" type="button"onclick="">Add Lesson</button>
    
        </div>
    
        <div class="sortable-List-container">
    
        </div>
        <div class="empty-state emptyStateList">
          <h4>You haven't added anything yet</h4>
        </div>
            
    
    
        
      </div>
      <!-- Bottom actions require adding the .sub-page class on the <body> tag for correct scrolling  -->
      <div class="bottom-actions">
        <button class="btn btn-default" onclick="CourseDetails.cancel();">
          Cancel
        </button>
        <button
          class="btn btn-success"
          id="saveAsset-course"
          onclick="CourseDetails.save();"
          disabled="disabled"
        >
          Save
        </button>
      </div>
    </template>

<template id="addEditTemplate-course-lesson">
      <div class="slide-in sub-page-body padding-bottom-sixty lesson-container">
        <h1>Lesson Details</h1>
    
        <div class="clearfix">
          <p class="info-note">
            Here’s where you add main title and subtitle for the lesson. Subtitle can be used as generic name for lessons like Introduction, Quiz, Syllabus, Exercise, Lesson 1, Lesson 2...      </p>
        </div>
    
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label for="lessonTitle">Main Title <span class="text-danger">*</span>
            </label>
          </div>
          <div class="col-md-9">
            <input
              id="lessonTitle"
              type="text"
              class="form-control"
              maxlength="100"
              placeholder="Enter Main Title"
            />
          </div>
        </div>
    
        <div class="row margin-bottom-fifteen">
          <div class="col-md-3">
            <label for="lessonSubTitle">Subtitle</label>
          </div>
          <div class="col-md-9">
            <input
              id="lessonSubTitle"
              type="text"
              class="form-control"
              maxlength="100"
              placeholder="Enter Subtitle"
            />
          </div>
        </div>
    
        <!-- Lesson Assets -->   
        <div class="flex-row space-between margin-top-thirty">
          <div class="section-title padding-top-zero">Lesson Assets</div>
        </div>
    
    
        <div class="clearfix">
          <p class="info-note">
            Every lesson can consist of just one asset, or can be broken down into multiple assets. You can add existing asset or create new one. Action Item can be used to connect Free Text Questionnaire or any other content outside this plugin.
          </p>
        </div>
    
        <div class="actions margin-bottom-twenty">
          
          <div class="flex-fill">
            <div class="btn-group open list-sort-dropdown">
              <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="">
                <span class="margin-right-ten text-light-grey">Sort:</span> 
                <span class="list-sort-txt">Manually</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li data-sort="newest"><a>Newest First</a></li>
                <li data-sort="oldest"><a>Oldest First</a></li>
              </ul>
            </div>
          </div>
    
          <button class="btn btn-success btn-add pull-right margin-left-five" type="button" id="addBtnAssetsLessonModal" onclick="">Add Existing Asset</button>
                
          <div class="btn-group pull-right" id="add-assets-lesson-dropdown">
            <button class="btn btn-success btn-add margin-left-five" type="button" id="addBtnAssetsLesson">Add New Asset
              <span class="caret whiteTheme"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li data-type="video"><a>Video</a></li>
              <li data-type="audio"><a>Audio</a></li>
              <li data-type="article"><a>Article</a></li>
              <li data-type="book"><a>PDF</a></li>
              <li data-type="action-item"><a>Action Item</a></li>
            </ul>
          </div>
    
        </div>
    
        <div class="sortable-List-container">
    
        </div>
    
        <div class="empty-state emptyStateList">
          <h4>You haven't added anything yet</h4>
        </div>
       
      </div>
    
      <!-- Bottom actions require adding the .sub-page class on the <body> tag for correct scrolling  -->
      <div class="bottom-actions">
        <button class="btn btn-default" onclick="LessonDetails.cancel();">
          Cancel
        </button>
        <button
          class="btn btn-success"
          id="saveLesson"
          onclick="LessonDetails.save();"
          disabled="disabled"
        >
          Save
        </button>
      </div>
    </template>
</template>