#section2 .container-header,
#section3 .container-header ,
#section4  .container-header,
#section5  .container-header,
#section6  .container-header,
#section7  .container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

#section2 .container-header > h1,
#section3 .container-header > h1,
#section4  .container-header > h1,
#section5  .container-header > h1,
#section6  .container-header > h1,
#section7  .container-header > h1 {
  width: 75%;
}

#section2 .container-header .title,
#section3 .container-header .title ,
#section4 .container-header .title,
#section5 .container-header .title,
#section6 .container-header .title,
#section7 .container-header .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
}
#section2 .container-header .seeAll-btn,
#section3 .container-header .seeAll-btn ,
#section4 .container-header .seeAll-btn,
#section5 .container-header .seeAll-btn,
#section6 .container-header .seeAll-btn,
#section7 .container-header .seeAll-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0297a0;
}
#section2 #allCoursesContainer,
#section3 #allBooksContainer,
#section4 #allVideosContainer,
#section5 #allArticlesContainer,
#section6 #allPodcastsContainer,
#section7 #allGraphicalSummariesContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
#section2 #allCoursesContainer .mdc-card,
#section3 #allBooksContainer .mdc-card ,
#section4 #allVideosContainer  .mdc-card,
#section5 #allArticlesContainer  .mdc-card,
#section6 #allPodcastsContainer .mdc-card,
#section7 #allGraphicalSummariesContainer  .mdc-card {
  position: relative;
  width: 138px;
  height: 172px;
  overflow: hidden;
  margin: 0.5rem;
  display: inline-block;
}
#section3 #allBooksContainer .mdc-card,
#section4 #allVideosContainer .mdc-card,
#section5 #allArticlesContainer .mdc-card,
#section6 #allPodcastsContainer .mdc-card,
#section7 #allGraphicalSummariesContainer .mdc-card {
    height: 148px;
}

#section2 #allCoursesContainer .mdc-card .image,
#section3 #allBooksContainer .mdc-card .image ,
#section4 #allVideosContainer .mdc-card .image,
#section5 #allArticlesContainer .mdc-card .image,
#section6 #allPodcastsContainer .mdc-card .image,
#section7 #allGraphicalSummariesContainer .mdc-card .image {
  width: 138px;
  height: 78px;
  background-size: cover;
}

#section2 #allCoursesContainer .mdc-card .mdc-card-body,
#section3 #allBooksContainer .mdc-card .mdc-card-body ,
#section4 #allVideosContainer .mdc-card .mdc-card-body,
#section5 #allArticlesContainer .mdc-card .mdc-card-body,
#section6 #allPodcastsContainer .mdc-card .mdc-card-body,
#section7 #allGraphicalSummariesContainer .mdc-card .mdc-card-body  {
  margin-top: 0.25px;
  padding: 0.25rem;
}

#section2 #allCoursesContainer .mdc-card .category,
#section3 #allBooksContainer .mdc-card .category ,
#section4 #allVideosContainer .mdc-card .category,
#section5 #allArticlesContainer .mdc-card .category,
#section6 #allPodcastsContainer .mdc-card .category,
#section7 #allGraphicalSummariesContainer .mdc-card .category {
  color: #5f5f5f;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
#section2 #allCoursesContainer .mdc-card .title,
#section3 #allBooksContainer .mdc-card .title ,
#section4 #allVideosContainer .mdc-card .title,
#section5 #allArticlesContainer .mdc-card .title,
#section6 #allPodcastsContainer .mdc-card .title,
#section7 #allGraphicalSummariesContainer .mdc-card .title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #101010;
}
#section2 #allCoursesContainer .mdc-card .mdc-card-footer,
#section3 #allBooksContainer .mdc-card .mdc-card-footer ,
#section4 #allVideosContainer .mdc-card .mdc-card-footer,
#section5 #allArticlesContainer .mdc-card .mdc-card-footer,
#section6 #allPodcastsContainer .mdc-card .mdc-card-footer,
#section7 #allGraphicalSummariesContainer .mdc-card .mdc-card-footer {
  padding: 0.25rem;
  position: absolute;
  bottom: 0;
}
#section2 #allCoursesContainer .mdc-card .duration,
#section3 #allBooksContainer .mdc-card .duration ,
#section4 #allVideosContainer .mdc-card .duration,
#section5 #allArticlesContainer .mdc-card .duration,
#section6 #allPodcastsContainer .mdc-card .duration,
#section7 #allGraphicalSummariesContainer .mdc-card .duration {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #5f5f5f;
  margin-top: 0.5rem;
}
#section2 #allCoursesContainer .mdc-card .duration span,
#section3 #allBooksContainer .mdc-card .duration span ,
#section4 #allVideosContainer .duration span,
#section5 #allArticlesContainer .duration span,
#section6 #allPodcastsContainer.duration span,
#section7 #allGraphicalSummariesContainer .duration span {
  margin-right: 0.35rem;
  color: #0297a0;
}
